body {
    background-color: lightsteelblue;
}

        
.gridViewHeader a:link{
    text-decoration:none;
    
}
.gridViewHeader{
    width:170px;
}
tr:hover td {
    color:white;
}

tr:hover td a:link{
    color:white;
}
.FN {
    /*text-transform:capitalize;*/   
    width:130px;
}
.LN {
    /*text-transform:capitalize;*/
    width:143px;
}
.DPT{
    /*text-transform:capitalize;*/
    width:200px;
}
.FN, .LN, .DPT{
    text-transform:capitalize;
}
.RM{

    width:60px;
}
.PHN{

    width:95px;
}

.properName{
    text-transform:capitalize;
}
#container{
    margin-left:auto;
    margin-right:auto;
    width:1200px;
    font-size: 15px;
    /*font-family: "Courier New", Courier, monospace;*/
}
#Label1{    
    font-size:20px;    
}

.cmdHeader {
    width: 135px;
}

#tblH{
    width:165px;

}
/*.UCFL{
    text-transform:capitalize;
}*/


#tblLN{
    width:165px;
}
#tblFN{
    width:165px;
}
#tblDpt{
    width:165px;
}
#tblRm{
    width:160px;
}
#tblEml{
    width:165px;
}