<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connString" providerName="System.Data.SqlClient" connectionString="Data Source=SQLPRD.laguardia.cc;Initial Catalog=INTERN;User ID=internLogin;Password=Kw@h^b9w!c3m$c*8Q2b4"/>
  </connectionStrings>
  <system.web>    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      
    </compilation>
  </system.web>

</configuration>