<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="connString" providerName="System.Data.SqlClient" connectionString="Data Source=SQLPRD.laguardia.cc;Initial Catalog=INTERN;User ID=internLogin;Password=Kw@h^b9w!c3m$c*8Q2b4"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
